certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==43.0.0
docutils==0.21.2
idna==3.7
importlib_metadata==8.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.2
jeepney==0.8.0
keyring==25.3.0
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.3.0
nh3==0.2.18
packaging==24.1
pkginfo==1.10.0
pycparser==2.22
Pygments==2.18.0
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
SecretStorage==3.3.3
setuptools==72.1.0
setuptools-scm==8.1.0
twine==5.1.1
urllib3==2.2.2
wheel==0.44.0
zipp==3.19.2
